
.content {
	display: grid;  /*inline-grid*/
	grid-template-columns: 1fr 1fr 2fr 1fr;
	grid-template-rows: 50%;
	column-gap: 0.1em;
	row-gap: 0.1em;
	height: 100vh;
  margin: 0;
  background: #010e2c;
  width: 100%;
  color: white; 
}

.item {
  padding: 13px;
  background: #061a44;
  
}

.balance {
	grid-column-start: 1;
  grid-column-end: 2; 
}

.orderbook {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.price-chart {
	grid-column-start: 3;
	grid-column-end: 4;
}

.trades {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
}

.new-order {
}

.my-transactions {
}

header {
  background: #061a44;
  text-align: center; 
  position: fixed;
  z-index: 999;
  width: 100%; 
  color: white;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0; 
  margin-left: 1em;   
  height: 100%;
  display: flex; 
  align-items: center; 
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
  display: block;
  background: white; 
  height: 2px;
  width: 2em; 
  border-radius: 2px; 
  position: relative;
}

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
  content: "";
  position: absolute; 
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #061a44;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em; 
}

nav a {
  
  color: white;
  text-decoration: none; 
  font-size: 1.2rem;
  text-transform: uppercase; 
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: black; 
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.navigation {
  height: 15vh;
  width: 100%;
  position: relative;
  background: #061a44;
  margin-bottom: 0.1em;
  color: white;
}

.navigation > navigation-header {
  display: inline;
}

.navigation-title {
  display: inline-block;
}

.navigation > .navigation-links {
  display: inline;
  float: right;
}

.navigation > .navigation-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.navigation > .navigation-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* 
.content  {
  background-color: #1d1d1d;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 8px;
  z-index: 1
}

.content > div {
  width: 20%;
  padding-right: 8px
}

.content > div:first-child {
  min-width: 220px
}

.content > div:nth-child(2) {
  min-width: 200px
}

.content  div:nth-child(3) {
  width: 40%
}

.content > div:last-child {
  padding-right: 0;
  min-width: 240px
}

@media (max-width:992px) {
  .content {
    display: block;
    overflow-y: auto
  }

  .content > div {
    width: 100%!important;
    padding-right: 0;
    padding-bottom: 8px
  }
}

.vertical > div {
  height: 100%
}

.vertical-split {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap
}

.vertical-split > div {
  height: 50%
}

.vertical-split > div:first-child {
  margin-bottom: 8px
}

.vertical-split:last-child > div:first-child {
  height: 60%
}

.vertical-split:last-child > div:last-child {
  height: 40%
}

@media (max-width:992px) {
  .vertical-split {
    display: block
  }
  .vertical-split > div,
  .vertical-split > div:first-child {
    height: auto
  }
}

.card {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.card-header {
  padding: 8px 4px;
}

.card-body{
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 2px;
}

.card-body th {
  border-top: 0;
}

.card-body .nav-tabs {
  border-color: #95999c;
}

.card-body .nav-item.nav-link {
  font-size: 80%;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  padding: 4px 8px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #95999c;
  border-radius: 0px;
}

.card-body .nav-item.nav-link.active {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #007bff;
}

.card-body .price-chart {
  height:100%;
  padding-bottom: 60px;
}

.card-body .price-chart .price {
  padding-left: 20px;
}

td.cancel-order {
  cursor: pointer;
}

tr.order-book-order {
  cursor: pointer;
} */
